---
---

.comparison-chart {
  padding-top: 20px;
  padding-bottom: 20px;

  .col-description {
    width: 15%;
  }

  .col-ruby, .col-javascript {
    width: 42.3%;
  }

  table td {
    max-width: 500px;
    overflow: auto;
  }

  .note {
    font-style: italic;
  }

  pre > code {
    padding: 0;
  }
}
