---
layout: default
---
<h1>{{ site.title }}</h1>

<h2 id="overview">Overview</h2>

<table class="table">
  {% include table_header.html %}
  <tbody>
    <tr>
      <th>Appearance</th>
      <td>1995</td>
      <td>1995</td>
    </tr>
    <tr>
      <th>Original Author</th>
      <td>Yukihiro Matsumoto (aka "Matz")</td>
      <td>Brendan Eich</td>
    </tr>
    <tr>
      <th>Major Influences</th>
      <td>Scheme, Smalltalk, Perl</td>
      <td>Scheme, Self, Java, Perl</td>
    </tr>
    <tr>
      <th>Paradigms</th>
      <td>Object-Oriented, Functional, Imperative, Meta</td>
      <td>Object-Oriented, Functional, Imperative, Meta</td>
    </tr>
    <tr>
      <th>Type Discipline</th>
      <td>Dynamic, Strong</td>
      <td>Dynamic, Weak</td>
    </tr>
  </tbody>
</table>

<h2 id="implementation">Implementation</h2>

<table class="table">
  {% include table_header.html %}
  <tbody>
    <tr>
      <th>Standardization</th>
      <td>While there is an ISO standard for Ruby, MRI (whose development is lead by Matz) is generally regarded as the reference implementation.</td>
      <td>ECMAScript</td>
    </tr>
    <tr>
      <th>Implementations</th>
      <td>MRI, MRuby, JRuby, DragonRuby, Opal, TruffleRuby, ArtichokeRuby (see <a target="awesome-rubies" href="https://github.com/planetruby/awesome-rubies">Awesome Rubies</a>
      for more).</td>
      <td>V8, SpiderMonkey, JavaScriptCore, Rhino, Chakra, Nashorn, many more in whole or in part.</td>
    </tr>
    <tr>
      <th>Versions</th>
      <td>Generally versions of Ruby are referred to by their MRI version</td>
      <td>Because there is no reference implementation, versions generally follow the standards
      ECMAScript 5th edition (ES5), ECMAScript 6th edition (ECMAScript 2015, ES6) will be covered here.</td>
    </tr>
  </tbody>
</table>

<h2 id="syntax">Syntax</h2>

<table class="table">
  {% include table_header.html %}
  <tbody>
    <tr>
      <th>Type Hierarchy</th>
      <td>Like Smalltalk, every value is decendent from a single type <code>Object</code> (or <code>BasicObject</code> after Ruby 1.9).</td>
      <td>Similar to Java, JavaScript has 5 primitive types: <code>number</code>, <code>boolean</code>, <code>string</code>, <code>null</code>,
      <code>undefined</code>, and one extension type: <code>Object</code>. ES6 adds <code>symbol</code> and <code>bigint</code>. All other
      types decend from <code>Object</code>.</td>
    </tr>
    <tr>
      <th scope="row">Let's talk about nothing</th>
      <td><code>nil</code> is a singleton instance of <code>NilClass</code>.</td>
      <td>As in some Scheme implementations, <code>null</code> and <code>undefined</code>
      are two primitive types that in different contexts represent nothing.
      When a function has no return value it returns <code>undefined</code>,
      when an object lacks a key it returns <code>undefined</code>. <code>null</code> is
      used in much the same way as <code>nil</code> in Ruby.</td>
    </tr>
    <tr>
      <th>Booleans</th>
      <td><code>true</code> is a singleton instance of <code>TrueClass</code>
      and <code>false</code> is a singleton instance of <code>FalseClass</code>.</td>
      <td><code>true</code> and <code>false</code> are the two instances of the primitive
      type <code>boolean</code></td>
    </tr>
    <tr>
      <th scope="row">Falsy</th>
      <td><code>false</code> and <code>nil</code> are considered "false" in boolean contexts (e.g. conditional statements), anything else is considered "true".</td>
      <td><code>false</code>, <code>null</code>, <code>undefined</code>, <code>0</code>, <code>''</code>, and <code>NaN</code>,
      are all considered "false" in boolean contexts, anything else is considered "true".</td>
    </tr>
    <tr>
      <th scope="row">Numbers</th>
      <td>All numeric types are subclasses of <code>Numeric</code>. These types include:
      <code>Integer</code>, <code>Float</code>, and <code>Rational</code>.</td>
      <td>In ES5 numbers are of the primitive type <code>number</code>. ES6 adds a <code>bigint</code> type.
      Numbers are any IEEE floating point number and <code>NaN</code>, <code>Infinity</code>, <code>-Infinity</code> which are the result of
      certain mathematical operations like <code>1 / 0</code>.</td>
    </tr>
    <tr>
      <th scope="row">Strings</th>
      <td>
        <pre><code class="ruby">"Do not go gentle into that good night"</code></pre>
        <pre><code class="ruby">'Old age should burn and rave at close of day'</code></pre>
        <p>Strings are values that are wrapped in matching <code>'</code>s or <code>"</code>s. If <code>"</code>s are used the strings will be interpolated.</p>
        <pre><code class="ruby">
        name = "Dylan Thomas"
        "By #{name}" # =&gt; "By Dylan Thomas"
        </code></pre>
        <p>If a variable with a sigil is used the brackets can be removed.</p>
        <pre><code class="ruby">
        @name = "Harriet"
        "Hello #@name" # =&gt; "Hello Harriet"
        </code></pre>
        <p>Complex expressions will also be interpolated.</p>
        <pre><code class="ruby">
        x, y = 3, 4
        "x + y = #{x + y}" # =&gt; "x + y = 7"
        </code></pre>
        <p>Strings wrapped in <code>`</code>s will execute the contents using the operating system's shell and return the results. For example:</p>
        <pre><code class="ruby">
        puts `ls -l`
        </code></pre>
        <p>will display the current directory's contents.</p>
        <p>Strings are mutable (i.e. they can be changed in-place).</p>
        <pre><code>
        name = "Toni"
        name[3] = 'y'
        name == "Toni" # =&gt; false
        name == "Tony" # =&gt; true
        </code></pre>
        <p>You can make strings immutable by calling the <code>freeze</code> method on the string. As of Ruby 2.3, you can make strings immutable by default,
        by adding the comment</p>
        <pre><code># frozen_string_literal: true</code></pre>
        <p>to the top of your file.</p>
      </td>
      <td>
        <pre><code class="javascript">"Do not go gentle into that good night"</code></pre>
        <pre><code class="javascript">'Old age should burn and rave at close of day'</code></pre>
        <p>Strings are values that are wrapped in matching <code>'</code>s or <code>"</code>s. In ES6 strings wrapped in <code>`</code>s will be interpolated.</p>
        <pre><code class="javascript">
        var name = "Dylan Thomas"
        `By ${name}` // =&gt; "By Dylan Thomas"
        </code></pre>
        <p>Complex expressions will also be interpolated.</p>
        <pre><code class="javascript">
        var x = 3, y = 4;
        `x + y = ${x + y}` // =&gt; "x + y = 7"
        </code></pre>
        <p>Strings are mutable (i.e. they can be changed in-place).</p>
        <pre><code>
        var name = "Toni"
        name[3] = 'y'
        name == "Toni" // =&gt; false
        name == "Tony" // =&gt; true
        </code></pre>
      </td>
    </tr>
    <tr>
      <th scope="row">Other String Forms</th>
      <td>
        <p>Like Perl, Ruby supports heredocs which can be useful when you need to include large strings in your source code.</p>
        <pre><code class="ruby">
        MANAGERS_QUERY = &lt;&lt;-SQL
          select employee_id
            from employees
          connect by prior manager_id = employee_id
            start with employee_id in (?)
        SQL
        </code></pre>
        <p>If a <code>~</code> is used instead of a <code>-</code> at the start of the heredoc the whitespace at the beginning of each line will be removed.</p>
        <pre><code class="ruby">
        name = "Ella"
        card_html = &lt;&lt;~HTML
          &lt;div class="card"&gt;
            #{name}
          &lt;/div&gt;
        HTML
        </code></pre>
        <p>Heredocs follow the same interpolation rules as <code>"</code> string literals.</p>
      </td>
      <td>N/A</td>
    </tr>
    <tr>
      <th scope="row">Regular Expressions</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Identifiers</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Symbols</th>
      <td><p>A data type that comes from Lisps like Scheme. Symbols are like strings except they proceed with a colon. When the symbol only contains charaters that can be used in
      identifiers, quotes can be omitted (which is what is most commonly seen). Symbols are immutable, and for each symbol value only one instance is created. For example:
      evaluating the strings <code>"jacob"</code> and <code>"jacob"</code> again will create two objects. Whereas, evaluating the symbol <code>:jacob</code> and <code>:jacob</code>
      again only creates one object.</p>
      <p>Symbols are useful for meta-programming (see <a href="#meta-programming">Meta Programming</a>), but are most commonly used as hash keys since symbol keys are more memory
      efficient than string keys particularly if they are accessed often, this is so commonly done that hash literals provide a short-cut (see Hash Literals below).</p></td>
      <td>ES6 adds a <code>Symbol</code> data type, but it's used for a very different purpose.</td>
    </tr>
    <tr>
      <th scope="row">Array Literals</th>
      <td>
        <pre><code class="ruby">
        ['Hewy', 'Duey', 'Lewy']
        </code></pre>
        <code>%w[]</code>, <code>%W[]</code>, <code>%i[]</code>, <code>%I[]</code></td>
      <td>
        <pre><code class="javascript">
        ['Hewy', 'Duey', 'Lewy']
        </code></pre>
      </td>
    </tr>
    <tr>
      <th scope="row">Hash Literals</th>
      <td>
        <pre><code class="ruby">
        { :name =&gt; "Peter Parker", :age =&gt; 16 }
        </code></pre>
        <pre><code class="ruby">
        { name: "Peter Parker", age: 16 }
        </code></pre>
      </td>
      <td>N/A, JavaScript doesn't have <em>hash</em> literals, but it does have <em>object</em> literals, which are often used like hashes, but there are some important
      differences (see Object Literals below, <a href="#object-oriented-programming">Object-Oriented Programming</a>).</td>
    </tr>
    <tr>
      <th scope="row">Object Literals</th>
      <td>N/A, Ruby doesn't support object literals, but it does support singleton objects (see <a href="#object-oriented-programming">Object-Oriented Programming</a>).</td>
      <td>
        <pre><code class="javascript">
        { name: "Peter Parker", age: 16 }
        </code></pre>
        <p>Object literals have much in common with Ruby's hash literals, in fact, the syntax for object literals is identical to Ruby's short-cut syntax for hash-literals
        with symbol keys.</p>
        <p>However, there are important differences, first the keys can only be strings or in ES6 Symbols (read about ES6's Symbol data type above).</p>
        <p>The other important difference is that these are objects designed for programming in an object-oriented style, so key lookup is connected to
        JavaScript's inheritance mechanism (see <a href="#object-oriented-programming">Object-Oriented Programming</a>) which can negatively impact performance,
        and lead to strange bugs when using objects has hashes.</p>
        <p>The ECMAScript standards have added methods that make using object literals has hashes, less hazardous, making use of these can lead to more robust code
        (see <a target="mozilla" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/getOwnPropertyNames">Object.getOwnPropertyNames</a>,
        <a target="mozilla" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/keys">Object.keys</a>,
        <a target="mozilla" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/values">Object.values</a>).
        </p>
      </td>
    </tr>
    <tr>
      <th scope="row">Blocks</th>
      <td>{}, do..end</td>
      <td>N/A, can do comparable things with function expressions.</td>
    </tr>
    <tr>
      <th scope="row">Lambda Expressions</th>
      <td><code>-&gt;{}</code>, <code>lambda</code>, <code>proc</code></td>
      <td>ES6 adds <code>=&gt;{}</code>, in earlier versions of JavaScript function expressions can be used.</td>
    </tr>
    <tr>
      <th scope="row">Operators</th>
      <td>Operators (e.g. <code>+</code>, <code>-</code>, <code>/</code>, <code>*</code>) are syntactic sugar for methods. As such, their behavior
      can be defined and redefined on a per-class basis (see <a href="#object-oriented-programming">Object-Oriented Programming</a>,
      <a href="#operator-comparision">Operator Comparison</a>).</td>
      <td>Operators are predefined and cannot be changed or redefined for new objects (see <a href="#operator-comparision">Operator Comparison</a>).</td>
    </tr>
    <tr>
      <th scope="row">Semicolons</th>
      <td>Optional, generally not used</td>
      <td>Though they can often be left out without consequence, generally they are considered required. If <code>"use strict"</code> is used
      they are required.</td>
    </tr>
  </tbody>
</table>

<h2 id="control-flow">Control Flow</h2>

<table class="table">
  {% include table_header.html %}
  <tbody>
    <tr>
      <th scope="row">Statements vs. Expressions</th>
      <td>Like Scheme, Ruby is expression oriented, i.e. everything returns a value including language primitives like <code>if</code> and
      <code>for</code>.</td>
      <td>Like Java and C, JavaScript makes a distinction between language statements like <code>if</code> and <code>for</code> and
        expressions like <code>2 + 3</code> or <code>3 + 4 == 7</code>.</td>
    </tr>
    <tr>
      <th scope="row">Functions / Methods</th>
      <td>
        <pre><code>
        def add1(x)
          x + 1
        end
        </code></pre>
        <p>Since most everything in Ruby is an object or a method (see <a href="#object-oriented-programming">Object Oriented Programming</a>). What are sometimes called "functions" are
        really methods (i.e. "functions" that belong to a class). If you define a method outside of a class or module (for example in a short script) it gets added to <code>Object</code>.</p>
        <p>Like everything else in Ruby, method definitions are expressions, they evaluate to their name as a symbol so the method above will evaluate to <code>:add1</code>.</p>
        <p>Ruby also has at least one other type that can be used to model functions (see <a href="#functional-programming">Functional Programming</a>).</p>
        <p>When called a method returns the value of the last expression that has been evaluated, so <code>return</code> is only required if you want to terminate execution early.
        Which means that this:</p>
        <pre><code>
        def add1(x)
          return x + 1
        end
        </code></pre>
        <p>is the same as the first example, but this:</p>
        <pre><code>
        def add1(x)
          return nil if x.nil?

          x + 1
        end
        </code></pre>
        <p>is not.</p>
      </td>
      <td>
        <pre><code>
        function add1(x) {
            return x + 1;
        }
        </code></pre>
        <p>Generally functions are statements (i.e. they don't evaluate to any value), but under certain circumstances they are evaluated as expressions. The rules are complex
        so we'll just cover two cases that are generally useful to know.</p>
        <p>Functions are expressions when they are part of an assignment expression.</p>
        <pre><code>
        var add1 = function(x) {
            return x + 1;
        };
        </code></pre>
        <p class="note">Note: the semicolon at the end of the expression is required.</p>
        <p>Functions are also expressions when they are a part of an object expression.</p>
        <pre><code>
        var Numeric = {
            add1: function(x) { return x + 1; },
            sub1: function(x) { return x - 1; }
        };
        </code></pre>
        <p>When evaluated, as an expression a <code>Function</code> object is returned (see <a href="#object-oriented-programming">Object Oriented Programming</a>,
        <a href="#functional-programming">Functional Programming</a>).</p>
        <p>When called, the function will return the value given by the first <code>return</code> statement that is executed or <code>undefined</code> if nothing is returned.</p>
      </td>
    </tr>
    <tr>
      <th scope="row">Conditionals</th>
      <td class="overflow-auto">
        <!-- Ruby Conditionals -->
        <pre><code>
        if x &lt; 0
          puts 'Negative'
        elsif x &gt; 0
          puts 'Positive'
        else
          puts 'Zero'
        end
        </code></pre>
        <p>Like Perl, Ruby also supports conditionals appended after a statement, e.g.:</p>
        <pre><code>
        puts 'Negative' if x &lt; 0
        </code></pre>
        <p>In this case, "Negative" will be printed to the screen if <code>x</code> is less than zero.</p>
        <p>Also like Perl, Ruby supports a negated conditional statement <code>unless</code>.</p>
        <pre><code>
        unless x &lt; 0
          puts 'Positive'
        end
        </code></pre>
        <p>or</p>
        <pre><code>
        puts 'Positive' unless x &lt; 0
        </code></pre>
        <p>Conditional expressions evaluate to the last expression that has been evaluated. So</p>
        <pre><code>
        polarity = if x &lt; 0
                     'Negative'
                   elsif x &gt; 0
                     'Positive'
                   else
                     'Zero'
                   end
        
        puts polarity
        </code></pre>
        <p>will yield the same results as the first example.</p>
        <p>Ruby also supports an optional <code>then</code> keyword:</p>
        <pre><code>
        if x &lt; 0 then
          'Negative'
        elsif x &gt; 0
          'Positive'
        else
          'Zero'
        end
        </code></pre>
        <p>This can be useful for inline conditionals:</p>
        <pre><code>
        polarity = if x &lt; 0 then 'Negative' elsif x &gt; 0 'Positive' else 'Zero' end
        puts polarity
        </code></pre>
      </td>
      <td>
        <!-- JavaScript Conditionals -->
        <pre><code>
        if (x &lt; 0) {
            console.log('Negative');
        }
        else if (x &gt; 0) {
            console.log('Positive');
        }
        else {
            console.log('Zero');
        }
        </code></pre>
        <p>Like C and Java curly braces are only required when the clause is associated with more than one statement. This is a
        feature that requires some caution, because:</p>
        <pre><code>
        if (x &lt; 0)
            console.log('Negative');
            console.log('Less than zero');
        </code></pre>
        is not the same thing as
        <pre><code>
        if (x &lt; 0) {
            console.log('Negative');
            console.log('Less than zero');
        }
        </code></pre>
      </td>
    </tr>
    <tr>
      <th scope="row">Case / Switch</th>
      <td>
        <pre><code>
        case language
        when :spanish
          puts "Hola"
        when :hawaiian
          puts "Aloha"
        when :albanian
          puts "Merdita"
        else
          puts "Hello"
        end
        </code></pre>
      </td>
      <td>
        <pre><code>
        switch(language) {
          case 'spanish':
            console.log('Hola');
            break;
          case 'hawaiian':
            console.log('Aloha');
            break;
          case 'albanian'
            console.log('Merdita');
            break;
          default:
            console.log('Hello');
            break;
        }
        </code></pre>
      </td>
    </tr>
    <tr>
      <th scope="row">Imperative Block</th>
      <td>
        <pre><code>
        DB_CONN = begin
                    config = YAML.load('db/config.yml')
                    TinyTds::Client.new(config)
                  end
        </code></pre>
      </td>
      <td>
        N/A, can be faked with a self-calling function.
        <pre><code>

        </code></pre>
      </td>
    </tr>
    <tr>
      <th scope="row">For</th>
      <td>
        <pre><code>
        for x in (1..100)
          puts x
        end
        </code></pre>
        <pre><code class="ruby">
        puts x for x in (1..100)
        </code></pre>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <th scope="row">While</th>
      <td>
        <pre><code>
        while x &lt; 10
          puts x
        end
        </code></pre>
        <pre><code>
        puts x while x &lt; 10
        </code></pre>
        <pre><code>
        until x &gt; 10
          puts x
        end
        </code></pre>
        <pre><code>
        puts x until x &gt; 10
        </code></pre>
      </td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Do / While</th>
      <td>
        <p>N/A, but can be achieved by combining a <code>begin</code> block with a <code>while</code> loop.</p>
        <pre><code>
        pool = (1..100).to_a
        x = pool.sample
        begin
          y = pool.sample
        end while x == y
        </code></pre>
      </td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Exception Handling</th>
      <td>
        <pre><code>
        DB_CONN = begin
                    config = YAML.load('db/config.yml')
                    TinyTds::Client.new(config)
                  rescue =&gt; e
                    puts "There was an error connecting to your database: #{e.message}"
                    exit 1
                  end
        </code></pre>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>

<h2 id="operator-comparison">Operator Comparison</h2>

<table class="table">
  {% include table_header.html %}
  <tbody>
    <tr>
      <th scope="row">Boolean</th>
      <td><code>||</code>, <code>&amp;&amp;</code>, <code>!</code>, <code>or</code>, <code>and</code>, <code>not</code></td>
      <td><code>||</code>, <code>&amp;&amp;</code>, <code>!</code></td>
    </tr>
    <tr>
      <th scope="row">Bitwise</th>
      <td><code>|</code>, <code>&amp;</code>, <code>^</code>, <code>~</code>, <code>&lt;&lt;</code>, <code>&gt;&gt;</code></td>
      <td><code>|</code>, <code>&amp;</code>, <code>^</code>, <code>~</code>, <code>&lt;&lt;</code>, <code>&gt;&gt;</code>, <code>&gt;&gt;&gt;</code></td>
    </tr>
    <tr>
      <th scope="row">Arithmetic</th>
      <td><code>+</code>, <code>-</code>, <code>/</code>, <code>*</code>, <code>%</code>, <code>**</code></td>
      <td><code>+</code>, <code>-</code>, <code>/</code>, <code>*</code>, <code>%</code></td>
    </tr>
    <tr>
      <th scope="row">Comparison</th>
      <td><code>==</code>, <code>===</code>, <code>&lt;</code>, <code>&gt;</code>, <code>&lt;=&gt;</code></td>
      <td><code>==</code>, <code>===</code>, <code>&lt;</code>, <code>&gt;</code></td>
    </tr>
    <tr>
      <th scope="row">General-Purpose Matching</th>
      <td><code>===</code></td>
      <td>N/A</td>
    </tr>
    <tr>
      <th scope="row">Regular Expression Matching</th>
      <td><code>=~</code>, <code>!~</code>, <code>===</code></td>
      <td><code>=~</code>, <code>!~</code></td>
    </tr>
    <tr>
      <th scope="row">String Concatenation</th>
      <td><code>+</code></td>
      <td><code>+</code></td>
    </tr>
    <tr>
      <th scope="row">Ternary</th>
      <td><code>?:</code></td>
      <td><code>?:</code></td>
    </tr>
    <tr>
      <th scope="row">Assignment</th>
      <td><p><code>=</code>, supports multiple assignment with array or multiple values, e.g. <code>x, y = [1, 2]</code> or <code>a, b = 3, 4</code>.</p>
      <p>The following compound assignment operators are supported which perform the binary operation indicated before the <code>=</code> on the value and the variable and
      reassigns that value to the variable: <code>+=</code>, <code>-=</code>, <code>*=</code>, <code>/=</code>, <code>%=</code>, <code>||=</code>, <code>&amp;&amp;=</code>,
      <code>|=</code>, <code>&amp;=</code>, <code>^=</code>, <code>**=</code>, <code>&lt;&lt;=</code>, <code>&gt;&gt;=</code>.</p>
      <p>For example, <code>x += 1</code> increments the value of <code>x</code>.</p></td>
      <td><p><code>=</code>, ES6 supports multiple assignment and destructuring on arrays and objects, e.g. <code>[x, y] = [1, 2]</code> or <code>{a, b} = {a: 1, b: 2}</code></p>
      <p>The following compound assignment operators are supported which perform the binary operation indicated before the <code>=</code> on the value and the variable and
      reassigns that value to the variable: <code>+=</code>, <code>-=</code>, <code>*=</code>, <code>/=</code>, <code>%=</code>, <code>||=</code>, <code>&amp;&amp;=</code>,
      <code>|=</code>, <code>&amp;=</code>, <code>^=</code>, <code>&lt;&lt;=</code>, <code>&gt;&gt;=</code>.</p></td>
    </tr>
    <tr>
      <th scope="row">Increment / Decrement</th>
      <td>N/A</td>
      <td><code>++</code>, <code>--</code></td>
    </tr>
    <tr>
      <th scope="row">Object Instantiation</th>
      <td>N/A, objects are instantiated from constructor methods. Ruby provides a default constructor <code>new</code> that can be used
      by not defining a constructor or defining a method called <code>initialize</code> that will be called by the default constructor.</td>
      <td><code>new</code></td>
    </tr>
    <tr>
      <th scope="row">Object Method Invocation</th>
      <td><code>.</code>, <code>&amp;.</code></td>
      <td>N/A, method invocation results from calling a function that is a member of an object (see Object Member Access below).</td>
    </tr>
    <tr>
      <th scope="row">Object Member Access</th>
      <td>N/A, object members are always private, without resorting to meta-programming, member access can only be achieved by defining an attribute method for the
      class (see Object Method Invocation above).</td>
      <td><code>.</code>, <code>[]</code></td>
    </tr>
    <tr>
      <th scope="row">Collection Element Reference</th>
      <td><code>[]</code></td>
      <td><code>[]</code></td>
    </tr>
    <tr>
      <th scope="row">Namespacing</th>
      <td><code>::</code></td>
      <td>N/A</td>
    </tr>
    <tr>
      <th scope="row">Reflection</th>
      <td><code>defined?</code>, <code>===</code></td>
      <td><code>instanceof</code>, <code>typeof</code></td>
    </tr>
    <tr>
      <th scope="row">Range</th>
      <td><code>..</code>, <code>...</code></td>
      <td>N/A</td>
    </tr>
  </tbody>
</table>

<h2 id="collections">Collections</h2>

<table class="table">
  {% include table_header.html %}
  <tbody>
    <tr>
      <th scope="row">Array</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Hash / Map</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Set</th>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<h2 id="object-oriented-programming">Object Oriented Programming</h2>

<table class="table">
  {% include table_header.html %}
  <tbody>
    <tr>
      <th scope="row">Classes &amp; Objects</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Inheritance</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Operator Overloading</th>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <th scope="row">Singleton Objects</th>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<h2 id="functional-programming">Functional Programming</h2>

<table class="table">
  {% include table_header.html %}
  <tbody>
    <tr>
      <th scope="row">Mutability</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Closures</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Higher-order Functions</th>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<h2 id="meta-programming">Meta Programming</h2>

<table class="table">
  {% include table_header.html %}
  <tbody>
    <tr>
      <th scope="row">Reflection</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Intercepting Messages</th>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<h2 id="references">References</h2>

<ul>
  <li><a href="https://brendaneich.com/2008/04/popularity">https://brendaneich.com/2008/04/popularity</a></li>
  <li><a href="https://www.ruby-lang.org/en/about/">https://www.ruby-lang.org/en/about/</a></li>
</ul>
